/* generics */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
   
}

body {
    font-family: sans-serif;
}

img {
    width: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* flex */
.flex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}
.center {
    display: flex;
    align-items: center;
}
/* utilities */
.card {
    min-height: 200px;
    background-color: #b5ddff;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    padding-bottom: 0;
    line-height: 25px;
    align-items: center;
}

/* header */
header {
    position: fixed;
    background-color: #0084fd;
    width: 100%;
    min-height: 80px;
    z-index: 1;
}

.container-header {
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.menu-list {
    display: none;
}

.bars {
    color: white;
}

/* main */

/* section-1 */
.container-section-1 {
    padding-top: 100px;
}

.phone-img {
    display: flex;
}

.card>h2 {
    color: #0084fd;
    margin-bottom: 30px;
}

.button-blue {
    margin: 30px;
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 20px;
    background-color: #356dfa;
    color: white;
}

.bars>i {
    font-size: 35px;
}

.file {
    color: #0084fd;
}

.card-icon {
    padding-bottom: 30px;
}

.card>span {
    font-size: 80px;
    padding: 20px;
}

/* section-2 */
.container-section-2 {
    background-color: #9892ea;
    margin-top: 50px;
    padding: 50px 0px;
}

.box-1-section-2>h1 {
    padding: 30px 0px;
}

.box-1-section-2>img {
    width: 70%;
    align-self: center;
    margin: 30px;
}

.box-1-section-2 {
    padding: 20px;
    color: white;
    line-height: 30px;
}

.box-2-section-2 {
    background-color: white;
    margin: 20px;
    align-items: center;
    text-align: center;
    line-height: 30px;
    border-radius: 50px;
    padding: 20px;
}

.box-2-section-2>span {
    color: black;
    padding: 10px 20px;
    border-radius: 100%;
    margin: 30px;
    font-size: 20px;
    background-color: #9892ea;
}

.box-2-section-2>img {
    margin: 30px;
}

.box-2-section-2>h2 {
    padding-bottom: 30px;
}

/* section-3 */
.container-section-3 {
    margin: 40px;
    line-height: 30px;
    text-align: center;
}

.header-section-3>h1 {
    line-height: 40px;
    padding: 40px;
    font-size: 30px;
    color: #9892ea;
}

.card-section-3 {
    margin: 30px 0px;
    background-color: #9892ea;
    padding: 40px 10px;
    color: white;
    border-radius: 50px;
}

.card-section-3 p {
    padding: 30px 10px;

}

.card-section-3 img {
    clip-path: circle();
}

/* section-4 */


.title center{
    color: white;
    
}

.container-section-4 {
    background-color: #9892ea;
    display: flex;
    flex-wrap: wrap-reverse;
}
.card-section-4 {
    background-color: white;
    margin: 40px;
    line-height: 30px;
    border-radius: 25px;
    padding: 20px 10px;
    color: #9892ea;
}

.section-4{
    background-color: #9892ea;
}

.title-section-4 {
    text-align: center;
    font-size: 40px;
    padding: 40px;
    color: white;
}

.card-section-4>h1 {
    padding: 30px 15px;
    font-size: 40px;
}

.card-section-4>p {
    padding: 30px 15px;
    color: black;
}

.card-section-4>h2 {
    padding: 15px;
}

.button-violet {
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 20px;
    background-color: #9892ea;
    color: white;
    margin: 5px 15px;
}

/* section-5 */
.container-section-5 {
    margin: 40px;
    line-height: 30px;
    padding: 15px 0px;
}

.container-section-5>p {
    margin-top: 40px;

}

.container-section-5>h1 {
    font-size: 40px;
    color: #9892ea;
    padding-top: 30px;
}

.box-photo-section-5 {
    margin-top: 40px;
}

.box-photo-section-5>h2 {
    font-size: 28px;
    color: #9892ea;
    margin-top: 35px;
}

.button-violet-5 {
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 20px;
    background-color: #9892ea;
    color: white;
    margin: 30px 0px;
}

.box-photo-section-5>img {
    clip-path: circle();
    width: 50%;
}

/* section-6 */
.container-section-6 {
    background-color: #9892ea;
    align-items: center;
    text-align: center;
    line-height: 30px;
    padding: 40px;
    color: white;
}

.container-section-6>h2 {
    padding-top: 10px;
    font-size: 25px;
}

.container-section-6>h1 {
    padding: 40px;
    font-size: 40px;
    color: yellow;
}

.button-section-6 {
    margin: 30px;
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 20px;
    background-color: white;
    color: #9892ea;
}

.privacy {
    color: white;
}

/* footer */
.container-footer {
    background-color: #323334;
    color: white;
    padding: 40px;
    text-align: center;
}

.container-footer>p {
    padding-bottom: 50px;
}

/* RESPONSIVE MEDIA */

/* tablet */
@media screen and (min-width:768px) {
    .container-section-1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        width: calc(100% / 3 - 40px);
        margin: 10px;

    }

    .first-card {
        width: 60%;
    }

    .box-2-section-2>img {
        width: 60%;
    }

    .box-1-section-2>h1 {
        padding: 30px 0px;
        font-size: 40px;
    }

    .card-section-3 {
        display: flex;
        flex-direction: row;
    }

    .card-section-3>img {
        width: 30%;
    }

    .card-section-3 p {
        padding: 0;
    }

    .container-text-section-3 {
        display: flex;
        text-align: start;
        flex-direction: column;
    }

    .container-section-4 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card-section-4 {
        width: calc(100% / 2 - 80px);
        flex-wrap: wrap;
    }

    .container-section-5 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .box {
        width: calc(100% / 2 - 80px);
        margin: 0;
    }

    .box>h1 {
        font-size: 40px;
        padding-bottom: 30px;
        color: #9892ea;
    }

    .container-section-6 p {
        margin: 0px 100px;
    }

    .container-section-6 input {
        width: 25%;
    }

    .container-footer p {
        margin: 10px 150px;
    }
}


/* dekstop */
@media screen and (min-width:1200px) {
    .container-header {
        margin: 0px 120px;
    }

    .bars {
        display: none;
    }

    .menu-list {
        display: block;
    }

    .menu-list>a {
        padding: 0px 10px;
        color: white;
        text-decoration: none;
    }

    .menu-list>input {
        padding: 5px;
        border-radius: 20px;
        border: none;

    }

    .first-card {
        display: flex;
        flex-direction: row;
    }

    .box-card>h2 {
        color: #0084fd;
        margin-bottom: 20px;
    }

    .box-card>img {
        margin-top: 105px;
    }

    .box-card {
        text-align: start;
    }

    .container-section-1 {
        margin: 0px 100px;
    }

    .button-blue {
        margin: 20px 0px;
    }

    .section-2 {
        background-color: #9892ea;
    }

    .container-section-2 {
        display: flex;
        flex-direction: row;
        margin: 0px 150px;
    }

    .box-1-section-2>img {
        padding-bottom: 150px;
       
    }

    .box-2-section-2 {
        margin-top: 150px;
    }

    .card-section-4 {
        width: calc(100% / 3 - 80px);
    }

    .container-section-3 {
        margin: 0px 150px;
    }

    .container-section-4 {
        padding: 0px 100px;
    }

    .container-section-5 {
        padding: 0px 100px;
    }

    .text-section-5 {
        width: 60%;
    }

    .box-photo-section-5 {
        width: 35%;
    }

    .container-section-6 {
        padding: 30px 250px;
    }
    
    .container-footer {
        padding: 30px 250px;
    }

    .header-section-3 {
        padding-top: 30px;
    }



}
